<div class="formText formFade">
	<p class="formHeader Gray">Add case studies to the work page of your site!</p><br /><br />
	<div class="form">	
		<%= form_for(@work) do |f| %>
			<%= f.label :Which_category?, class: 'formFieldT2' %>
    		<%= f.select(:category_id, options_for_select([['Adverts', '1'], ['Shorts', '2'], ['Web', '3']], @work.category_id)) %><br /><br />
			<%= f.label :Video_url?, class: 'formFieldT2' %>
    		<%= f.text_field :home_url, class: 'formFieldT2'  %><br /><br />
			<%= f.label :Image_plaecholder, class: 'formFieldT2'  %><br />
			<%= f.file_field :image, class: 'formFieldT2 file'  %><br /><br />
			<%= f.label :title, class: 'formFieldT2' %>
    		<%= f.text_field :title, class: 'formFieldT2'  %><br /><br />
			<%= f.label :about, class: 'formFieldT2' %><br /><br />
    		<%= f.text_area :about, :value => 'Music & SFX: Nathan Liddle Hulme', class: 'formFieldT2' %><br /><br />
			<%= f.label :Post_to_homepage, class: 'formFieldT2' %><br />
			<%= f.collection_select :posthome, [[false, 'No'] ,[true, 'Yes']], :first, :last %><br />
			<%= f.label :Home_page_info, class: 'formFieldT2' %><br /><br />
    		<%= f.text_area :homepageinfo, class: 'formFieldT2' %><br /><br />
			<%= f.label :client, class: 'formFieldT2' %>
    		<%= f.text_field :client, class: 'formFieldT2'  %><br /><br />
    		<%= f.submit %>
		<% end %>
		
	</div>
</div>