<div class="videoHolder">
	<div class="inline">
		<div class="clientTitle2"><em><%= @work.client %></em><span class="pipe">|</span><em><%= @work.title %></em></div>
		<div class="large"><%= @work.large_url_html %></div>
		<div class="second"><%= @work.second_url_html %></div>
		<div class="third"><%= @work.third_url_html %></div>
		<div class="fourth"><%= @work.fourth_url_html %></div>
		<div class="VideoInfo"><%= simple_format(@work.homepageinfo) %></div>
	</div>
</div>