<section class="parallax-bg2 parallax colored clearfix marginUp" id="form-home" data-type="background" data-speed="10">
	<div class="content dark padded container">
		
		<div class="title grid-full">
			<h2 class="formTitle">Edit your homepage content below!</h2>
		</div>

		<div class="cmsWrapper3">
				<div class="formWrapper">
					<%= form_for(@homepost) do |f| %>
						<%= f.label :Tab_1_title, class: 'formText' %>
			    		<%= f.text_field :title1, class: 'email text_area'  %><br /><br />
						<%= f.label :Tab_1_content, class: 'formText' %>
			    		<%= f.text_field :url1, class: 'email text_area'  %><br /><br />
						<%= f.label :Tab_2_title, class: 'formText' %>
			    		<%= f.text_field :title2, class: 'email text_area'  %><br /><br />
						<%= f.label :Tab_2_content, class: 'formText' %>
			    		<%= f.text_field :url2, class: 'email text_area'  %><br /><br />
						<%= f.label :Tab_3_title, class: 'formText' %>
			    		<%= f.text_field :title3, class: 'email text_area'  %><br /><br />
						<%= f.label :Tab_3_content, class: 'formText' %>
			    		<%= f.text_field :url3, class: 'email text_area'  %><br /><br />
						<%= f.label :Tab_4_title, class: 'formText' %>
			    		<%= f.text_field :title4, class: 'email text_area'  %><br /><br />
						<%= f.label :Tab_4_content, class: 'formText' %>
			    		<%= f.text_field :url4, class: 'email text_area'  %><br /><br /><br /><br />
						<%= f.label :Info_text, class: 'formText' %><br /><br />
			    		<%= f.text_area :info, class: 'email text-areaArea'  %><br /><br />
			    		<%= f.submit %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>