<div class="formText formFade">
	<p class="formHeader Gray">Add or edit your homepage content below!</p><br /><br />
	<div class="form">	
		<%= form_for(@homepost) do |f| %>
			<%= f.label :Tab_1_title, class: 'formFieldT2' %>
    		<%= f.text_field :title1, class: 'formFieldT2'  %><br /><br />
			<%= f.label :Tab_1_content, class: 'formFieldT2' %>
    		<%= f.text_field :url1, class: 'formFieldt2T2'  %><br /><br />
			<%= f.label :Tab_2_title, class: 'formFieldT2' %>
    		<%= f.text_field :title2, class: 'formFieldT2'  %><br /><br />
			<%= f.label :Tab_2_content, class: 'formFieldT2' %>
    		<%= f.text_field :url2, class: 'formFieldT2'  %><br /><br />
			<%= f.label :Tab_3_title, class: 'formFieldT2' %>
    		<%= f.text_field :title3, class: 'formFieldT2'  %><br /><br />
			<%= f.label :Tab_3_content, class: 'formFieldT2' %>
    		<%= f.text_field :url3, class: 'formFieldT2'  %><br /><br />
			<%= f.label :Tab_4_title, class: 'formFieldT2' %>
    		<%= f.text_field :title4, class: 'formFieldT2'  %><br /><br />
			<%= f.label :Tab_4_content, class: 'formFieldT2' %>
    		<%= f.text_field :url4, class: 'formFieldT2'  %><br /><br /><br /><br />
			<%= f.label :Info_text, class: 'formFieldT2' %><br /><br />
    		<%= f.text_area :info, class: 'formFieldT2'  %><br /><br />
    		<%= f.submit %>
		<% end %>
	</div>
</div>