<div class="container">
	<div class="info">
		<%= simple_format(@homepost.info) %>
	</div>
	<div class="soundcloud" id="tabs">
		<ul class="titles">
	  		<li class="setTitle linkGray"><a href="#tabs-1"><%= @homepost.title1 rescue nil %></a></li>
	   		<li class="setTitle linkGray"><a href="#tabs-2"><%= @homepost.title2 rescue nil %></a></li>
	   		<li class="setTitle linkGray"><a href="#tabs-3"><%= @homepost.title3 rescue nil %></a></li>
			<li class="setTitle linkGray"><a href="#tabs-4"><%= @homepost.title4 rescue nil %></a></li>
	 	</ul>
	 	<div id="tabs-1">
	   		<p><%= @homepost.url1.html_safe rescue nil %></p>
	 	</div>
	 	<div id="tabs-2">
	   		<p><%= @homepost.url2.html_safe rescue nil %></p>
	 	</div>
	 	<div id="tabs-3">
	   		<p><%= @homepost.url3.html_safe rescue nil %></p>
	 	</div>
		<div id="tabs-4">
	   		<p><%= @homepost.url4.html_safe rescue nil %></p>
	 	</div>
	</div>

	<div class="belowTheFold">
		<% @work.each do |w| %>
			<div class="homeVideoHolder">
				<div class="homeVideo">
					<div class="homeVideoTitle"><%= w.title %></div>
					<div class="homeVideoVideo"><%= w.home_url_html %></div>
					<div class="homeVideoInfo"><%= simple_format(truncate (w.homepageinfo), length: 100, :separator => ' ') rescue nil %><%= link_to 'SEE MORE', works_path, :class => 'more links' %></div>
				</div>
			</div>
		<% end %>
	</div>
</div>