<div class="formText formFade">
	<p class="formHeader">Edit the title and content of your contact page!</p><br /><br />
	<div class="form">	
		<%= form_for(@contact) do |f| %>
			<h1><em>Contact page text</em></h1>
    		<%= f.label :Title, class: 'formField' %>
    		<%= f.text_field :title, class: 'formFieldT'  %><br />
			<%= f.label :Content, class: 'formField' %><br />
    		<%= f.text_area :text, class: 'formFieldT'  %><br />
			<h1><em>Thanks page text</em></h1>
			<%= f.label :Title, class: 'formField' %>
    		<%= f.text_field :thankstitle, class: 'formFieldT'  %><br />
			<%= f.label :Content, class: 'formField' %><br />
    		<%= f.text_area :thankstext, class: 'formFieldT'  %><br />
    		<%= f.submit %>
		<% end %>
	</div>
</div>