<% if user_signed_in? %>
	<div class="downloadCSV3"><%= link_to image_tag('download.png'), contacts_path(format: "csv") %></div>
<% end %>

<div class="contact contacts">
		
	<div class="contactText gray introText">
		<div class="contactDescription mediumGray">
			<% c = Contact.first %>
				<em>
					<h1><%= c.title %></h1>
					<span><%= simple_format(c.text) %></span>
					<% if user_signed_in? %>
						<%= link_to image_tag('edit2.png'), edit_contact_path(c), :class => "editRelease" %>
					<% end %>
				</em>
		</div>
	</div>
	
	<div class="formContact">	
		<%= form_for(@contact) do |f| %>
			<%= f.label :email, class: 'contactForm gray' %>
    		<%= f.text_field :email, class: 'formFieldTC'  %><br />
			<%= f.label :name, class: 'contactForm gray' %>
    		<%= f.text_field :name, class: 'formFieldTC'  %><br />
			<%= f.label :message, class: 'contactForm gray' %>
    		<%= f.text_area :messagetext, class: 'formFieldTC2'  %><br />
    		<%= f.submit "Send message", class: 'contactSubmit' %>
		<% end %>
	</div>
	
</div>