<% if user_signed_in? %>
	<div class="downloadCSV3"><%= link_to image_tag('download.png'), contacts_path(format: "csv") %></div>
<% end %>

<div class="contact contacts">
		
	<div class="contactText">
		<div class="contactDescription">
			<% c = Contact.first %>
			<h1><%= c.title %></h1>
			<span class="Gray"><%= simple_format(c.text) %></span>
			<% if user_signed_in? %>
				<%= link_to image_tag('edit2.png'), edit_contact_path(c), :class => "editRelease" %>
			<% end %>
		</div>
	</div>
	
	<div class="formContact">	
		<%= form_for(@contact) do |f| %>
			<%= f.label :email, class: 'contactForm gray' %><br />
    		<%= f.text_field :email, class: 'formFieldTC'  %><br /><br />
			<%= f.label :name, class: 'contactForm gray' %><br />
    		<%= f.text_field :name, class: 'formFieldTC'  %><br /><br />
			<%= f.label :message, class: 'contactForm gray' %><br />
    		<%= f.text_area :messagetext, class: 'formFieldTC2'  %><br /><br />
    		<%= f.submit "Send message", class: 'contactSubmit formFieldTC' %>
		<% end %>
	</div>
	
</div>