<div class="header">
	<div class="logo">
		<%= link_to image_tag('logoTest.png'), root_path %>
	</div>
	<div class="navigationContainer" id="navigation">
			<div class="navigationButtons">
				<ul>
					<li id="about"><%= link_to 'About', abouts_path %></li>
					<a href="#" id="work" data-dropdown="#dropdown-1">Work</a>
					<li id="contact"><%= link_to 'Contact', root_path %></li>
					<li id="links"><%= link_to 'Links', root_path %></li>
				</ul>
			</div>
	</div>
	
	<div id="dropdown-1" class="dropdown dropdown-tip">
		<ul class="dropdown-menu">
			<li><%= link_to 'Adverts', "/works" + "?category=1" %></li>
			<li><%= link_to 'Shorts', "/works" + "?category=2" %></li>
			<li><%= link_to 'Web', "/works" + "?category=3" %></li>
			<li class="dropdown-divider"></li>
			<li><%= link_to 'All', "/works" %></li>
		</ul>
	</div>
	
	<div class="strapline">Music for image</div>
	<%# if user_signed_in? %>
		<!--<div class="userInfo">
			{ Logged in as <strong><%#= current_user.email %></strong>
			<span class="linkPink"><%#= link_to 'Edit', edit_user_registration_path %></span>
			<span class="linkPink"><%#= link_to 'Logout', destroy_user_session_path, method: :delete %></span> }
		</div>-->
	<%# end %>
</div>