<!--<header class="container">

	Logo
	<div id="logo" class="three columns">
		<div id="spiral">
			<div class="headLogo"><%#= link_to image_tag('logoNew.png'), root_path %></div>
		</div>
	</div>
	
	<div class="four columns title marginDown">
		<h1 class="title">Music for image</h1>
	</div>
	
	Navigation
	<nav id="nav" class="five columns">
		<ul id="navigation">
			<li><a href="#tweets">News</a></li>
			<li><%#= link_to 'Work', works_path %></li>
			<li><%#= link_to 'Contact', contacts_path %></li>
			<li class="twitter"><%#= image_tag('twitter.png') %></li>
			<li class="sc"><%#= image_tag('soundcloud.png') %></li>
		</ul>
	</nav>END NAVIGATION
	
</header>END CONTAINER -->

<div id="mobile-nav">
	<div class="container">
	
			<!-- Mobile Navigation Button -->
			<div class="navigationButton twelve columns clearfix">
				<%= link_to image_tag('mobile-nav.png'), root_path %>
			</div>
			
			<!-- Mobile Navigation -->
			<div class="navigationContent twelve columns clearfix">
				<ul>
					<li><%= link_to 'Home', root_path %></li>
					<li><%= link_to 'Work', works_path %></li>
					<li><a href="mailto:nathanliddlehulme@gmail.com?Subject=New%20contact%20from%20the%website" target="_top">Contact</a></li>
				</ul>
			</div><!-- END MOBILE NAVIGATION -->
				
	</div><!-- END CONTAINER -->
</div>

<header class="container">

	<!-- Logo -->
	<div id="logo" class="three columns">
		<div class="headLogo"><%= link_to image_tag('logoNew8.png'), root_path %></div>
	</div>
	
	<% if user_signed_in? %>
		<div class="userInfo">
			<div>{ Logged in as <strong><%= current_user.email %></strong> } <%= link_to 'Edit', edit_user_registration_path %> | <%= link_to 'Logout', destroy_user_session_path, method: :delete %> | <%= link_to 'Manage Content', cms_path %></div>
		</div>
	<% end %>
	
	<!-- Navigation -->
	<nav id="nav" class="nine columns">
		<ul id="navigation">
			<li><%= link_to 'Music for Image', works_path %></li>
			<li><a href="mailto:nath@gmail.com?Subject=New%20contact%20from%20the%website" target="_top">Contact</a></li>
			<li class="twitter"><%= link_to image_tag('twitter.png'), "https://twitter.com/NathLiddleHulme" %></li>
			<li class="sc"><%= link_to image_tag('soundcloud.png'), "https://soundcloud.com/nathan-liddle-hulme" %></li>
		</ul>
	</nav><!-- END NAVIGATION -->
	
</header><!-- END CONTAINER -->